/* ==========================================================================
   CLIENT'S STYLING
   ========================================================================== */
nav ul
{
	padding-left: 0;
}

h2 {
	/*line-height: 100px;*/
	/*font-family: serif !important;*/
}

ul {
	/*background-color: yellow !important;*/
}

.red
{
	background-color: red;
}

nav ul li
{
	display: inline-block;
	width: 19%;
	text-align: center;
}

nav a
{
	text-decoration: none;
	padding: .5em 0;
	display: block;
	color: #333;
}

nav a:hover
{
	border-bottom: 1px solid #ccc;
}

nav ul li:nth-child(3) a
{
	
	border-bottom: 1px solid #333;
}

div.footer
{
	margin-top: 30px;
}

div.footer p
{
	text-align: center;
}

div.footer ul
{
	padding: 0;
	margin: 0;
}

div.footer ul li
{
	width: 50%;
	height: 200px;
	display: inline-block;
	text-align: center;
	opacity: .8;
}

div.footer ul li
{
	background-color: #bbb;
}

div.footer span
{
	font-size: 8em;
	line-height: 200px;
	color: #eee;
}

body
{
	background-color: #eee;
}

div.wrapper
{
	max-width: 56em; /* 960px */
	margin: 0 auto;
	background-color: #fff;
	padding: 0 4%;
	border: 1px solid #C9C9C9;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 100px #ccc;
}

div.cart-container, div.header h1
{
	display: inline-block;
}

div.cart-container
{
	float: right;
}

/************************* END CLIENT STYLING ******************************/