/* ==========================================================================
   CLIENT'S STYLING
   ========================================================================== */
nav ul
{
	padding-left: 0;
}

.red
{
	background-color: red;
}

nav ul li
{
	display: inline-block;
	width: 19%;
	text-align: center;
}

nav a
{
	text-decoration: none;
	padding: .5em 0;
	display: block;
	color: #333;
}

nav a:hover
{
	border-bottom: 1px solid #ccc;
}

/*--- Matts extras ---*/
span.nav-dropDown:before
{
	content:"\f0a9"; /* this is the Unicode for the icon */
 	font-family: FontAwesome; /* font family is included in Canvas Framework */
}

span.nav-dropDown:hover:before
{
	content: "\f0ab";
	font-family: FontAwesome;
}

nav ul li:nth-child(3) a
{
	
	border-bottom: 1px solid #333;
}

div.footer
{
	margin-top: 30px;
}

div.footer p
{
	text-align: center;
}

div.footer ul
{
	padding: 0;
	margin: 0;
}

div.footer ul li
{
	width: 50%;
	height: 200px;
	display: inline-block;
	text-align: center;
	opacity: .8;
}

div.footer ul li
{
	background-color: #bbb;
}

div.footer span
{
	font-size: 8em;
	line-height: 200px;
	color: #eee;
}

body
{
	background-color: #eee;
}

div.wrapper
{
	max-width: 56em; /* 960px */
	margin: 0 auto;
	background-color: #fff;
	padding: 0 2%;
	border: 1px solid #C9C9C9;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 100px #ccc;
}

div.cart-container, div.header h1
{
	display: inline-block;
}

div.cart-container
{
	float: right;
	margin-top: 20px;
}

/************************* END CLIENT STYLING ******************************/

/* ==========================================================================
	MYCART PLUGIN STYLING
============================================================================= */
.mycart-plugin
{
	/*background-color: white;*/
	  -webkit-hyphens: auto;
		 -moz-hyphens: auto;
			  hyphens: auto; 
}

.mycart-plugin a
{
	border: none;
	text-decoration: none;
	cursor: pointer;
}

.mycart-plugin ul, .mycart-plugin li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mycart-plugin input[type=submit]
{
	box-shadow: none;
	border: none;
	background-color: #f15a24;
	color: #fff;
	padding: .35em;
}

/* ==========================================================================
	.nav-bar main navigation
============================================================================= */

.main-nav
{
	width: 100%;
	background-color: #F14A03;
	position: relative;
}

.main-nav a {
	color: #fff;
	display: block;
}

.main-nav > ul > li {
	float: left;
}

.main-nav > ul > li > a {
	margin: 15px 10px;
}

.main-nav > ul > li > ul {
	float: left;
	background-color: #FFD3A4;
	position: absolute;
	top: 50px;
	/*margin-left: -10px;*/
}

.main-nav > ul > li > ul > li > a {
	margin: 10px;
	color: #333;
}

/* ==========================================================================
   Product-show page
   ========================================================================== */

div.product-show
{
	width: 100%;
	min-height: 31.25em; 
	padding: 0;
}

div.product-img
{
	width: 55%;
	float: left;
	text-align: center;
	background-color: #ddd;
}

div.product-img img
{
	max-height: 400px;
}

div.product-img:hover, img.product-grid-img:hover
{
	opacity: .5;
}

div.product-side
{
	width: 38%; /*307.2px   297.2*/ 
	padding-left: 2%;
	float: left;
	/* background-color: red; */
}

div.product-side select
{
	width: 95%;
}

div.product-side input[type=submit]
{
	margin-left: 1.25em;
}

div.product-side input[type=submit]:hover
{
	background-color: #f37c46
}

div.product-side input[type=text]
{
	width: 1.25em;
}

div.product-side input[type=submit]
{
	max-width: 100%;
}

/* ==========================================================================
   Product Grid Div
   ========================================================================== */
div.product-grid-container
{
	width: 100%;
	min-height: 31.25em;
	padding: 0;
}

div.product-grid
{
	width: 31.7%;
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	
}

div.product-grid.middle
{
	margin: 20px 2% 0 2%;
}

.product-grid-img
{
	max-width: 100%;
	max-height: 300px;
	border-radius: 3px;
}

.container
{
	line-height: 300px;
	text-align: center;
	
}

div.product-grid p
{
	font-weight: normal;
	font-size: 1em;
	text-align: center;
}

div.product-grid a
{
	text-decoration: none;
}

/* ==========================================================================
   Cart Div
   ========================================================================== */
div.mycart-cart
{
	/*background-color: red;*/
}

div.mycart-cart .cart-checkout
{
	display: inline-block;
	vertical-align: top;
	margin-right: 1.25em;
}

div.mycart-cart .cart-checkout .button {
	text-decoration: none;
	display: inline-block;
}

div.mycart-cart .cart-checkout .links a {
	margin-top: 8px;
	text-decoration: none;
	display: inline-block;
}

div.mycart-cart .cart-items {
	display: inline-block;
	vertical-align: top;
}

div.mycart-cart .cart-items img {
	width: 25px;
}

div.mycart-cart .cart-items a {
	text-decoration: none;
	color: #333;
}

div.mycart-cart .cart-items a:hover p{
	text-decoration: underline;
}

div.mycart-cart .cart-items p {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	font-size: 14px;
}

/* ==========================================================================
   Cart Page 
   ========================================================================== */
   
div.cart-page
{
  	margin-top: .325em;
	width: 96%; /* 768px */
	min-height: 31.25em; 
	padding: 0 2%;
	float: left;
}

div.cart-page ul
{
	list-style: none;
	margin: 0 auto;
	margin: 0;
	padding: 0;
}

div.cart-page ul li
{
	display: inline-block;
	width: 30%;
	line-height: 30px;
	margin: 10px 0;
	vertical-align: middle;
	text-align: left;
}

div.cart-page ul li:last-child
{
	text-align: right;
}

div.cart-page ul li:first-child
{
	padding-left: 20px;
	width: 8%;
}

div.cart-page ul li:nth-child(4), div.cart-page ul li:nth-child(5)
{
	width: 12%;
}

div.cart-page ul:nth-child(2n+3)
{
	background-color: #f6f6f6;
}

div.cart-page ul:nth-child(7)
{
	background-color: transparent;
}

div.cart-page input[type=textbox]
{
	width: 20px;
	text-align: center;
}

div.cart-page input[type=submit]
{
	float: right;
}

div.cart-page select
{
	width: 90%;
	margin: 0;
}

div.shipping-div
{
	
}
   	
/* ==========================================================================
   Checkout Page 
   ========================================================================== */
.checkout-form label {
	display: inline-block;
	width: 35%;
}

.checkout-form input {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.checkout-form input:not([type="checkbox"]):not([type="submit"]), .checkout-form select {
	width: 60%;
	height: auto;
	padding: 7px 10px;
}

.checkout-container .checkout-billing {
	float: left;
	width: 47%;
}

.checkout-container .checkout-shipping {
	float: right;
	width: 47%;
}
   
/* ==========================================================================
   Media Queries
   ========================================================================== */
/***************************** DESKTOP ****/
@media only screen and (max-width: 940px){
	div.product-img, div.product-side, div.product-desc
	{
		width: 96%;
		float: none;
	}

	ul.left-nav, ul.right-nav
	{
		display: none;
	}
}/* End of Media Queries - SMALL DESKTOP */

/****************************** TABLET ****/
@media only screen and (max-width: 700px){
	div.product
	{
		float: none;
	}
	
	.main-nav > ul > li {
		float: none;
	}

	
	.main-nav > ul > li > ul {
		float: none;
		position: inherit;
		margin-top: 15px;
		width: 100%;
	}

	.main-nav > ul > li > ul > li {
		margin: 0;
		padding: 0;
	}

	.main-nav > ul > li > ul > li > a {
		padding: 15px 10px;
		margin: 0;
	}


	/******* product-grid view *****/
	div.product-grid.middle
	{
		margin: 20px 0 0 0;
	}
	
	div.product-grid:nth-child(1n-2)
	{
		margin-right: 2%;	
	}
	
	div.product-grid
	{
		width: 48%;
	}
	
	/******** cart page ************/
	div.cart-page
	{
		width: 100%;
	}
	
	/******* client stuff *****/
	div.footer div
	{
		width: 100%;
	}
	
	div.footer span
	{
		font-size: 5em;
	}

	nav ul li
	{
		width: 48%;
	}
	
}/* End of Media Queries - TABLET */


/************************** SMARTPHONE ****/
@media only screen and (max-width: 480px){
	div.product-grid
	{
		width: 100%;
		text-align: center;
	}
	
	/******** cart page ************/
	div.cart-page ul li
	{
		width: 100%;
	}
	
	div.cart-page ul li:first-child
	{
		width: 100%;
	}
	
	div.cart-page ul li:nth-child(3), div.cart-page ul li:nth-child(4), div.cart-page ul li:last-child
	{
		width: 30%;
		vertical-align: top;
		text-align: center;
	}
	
	div.cart-page ul li:last-child
	{
		margin-bottom: 20px;
	}
	
	div.cart-page ul:last-child li:last-child
	{
		margin-bottom: 0px;
	}
	
	/********* client **********/
	div.footer span
	{
		font-size: 3em;
	} 

}/* End of Media Queries - SMARTPHONE */



/* ==========================================================================
   CUSTOM CLASSES
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.button {
 	box-shadow: none;
	border: none;
	background-color: #f15a24;
	color: #fff;
	padding: .35em;
	display: block;
}