/* ==========================================================================
   CLIENT'S STYLING
   ========================================================================== */
nav ul
{
	padding-left: 0;
}

.red
{
	background-color: red;
}

nav ul li
{
	display: inline-block;
	width: 19%;
	text-align: center;
}

nav a
{
	text-decoration: none;
	padding: .5em 0;
	display: block;
	color: #333;
}

nav a:hover
{
	border-bottom: 1px solid #ccc;
}

nav ul li:nth-child(3) a
{
	
	border-bottom: 1px solid #333;
}

div.footer
{
	margin-top: 5px;
}

div.footer p
{
	text-align: center;
}

div.footer ul
{
	padding: 0;
	margin: 0;
}

div.footer ul li
{
	width: 50%;
	height: 200px;
	display: inline-block;
	text-align: center;
	opacity: .8;
}

div.footer ul li
{
	background-color: #bbb;
}

div.footer span
{
	font-size: 8em;
	line-height: 200px;
	color: #eee;
}

body
{
	background-color: #eee;
}

div.wrapper
{
	max-width: 64em; /* 960px */
	margin: 0 auto;
}

/************************* END CLIENT STYLING ******************************/

/* ==========================================================================
	MYCART STYLING
============================================================================= */
.mycart-plugin
{
	background-color: white;
	  -webkit-hyphens: auto;
		 -moz-hyphens: auto;
			  hyphens: auto; 
}

.mycart-plugin a
{
	border: none;
	outline: none;
}

/* ==========================================================================
	Nav-bar side
============================================================================= */
.nav-bar
{
	margin-bottom: 2.5em;
	position: relative; /* keep relative so it's children can be absolute */
	background-color: #F14A03;
}
.nav-bar ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.nav-bar ul li
{
	display: inline-block;
}
.nav-bar ul li a
{
	display: block;
	text-decoration: none;
	color: white;
	padding: 1.2em .6em;
}

.nav-bar li > ul
{
	display: none;
}

.nav-bar ul > li > a:hover > ul
{
	display: block;
}

/* ==========================================================================
   Product-show page
   ========================================================================== */

div.product-show
{
	width: 100%;
	min-height: 31.25em; 
	padding: 0;
}

div.product-img
{
	width: 60%;
	line-height: 200px;
	float: left;
	text-align: center;
	background-color: pink;
}

div.product-img img
{
	width: 100%;
}

div.product-img:hover
{
	opacity: .5;
}

div.product-side
{
	width: 38%; /*307.2px   297.2*/ 
	padding-left: 2%;
	float: left;
	/* background-color: red; */
}

div.product-side select
{
	width: 95%;
}

div.mycart-plugin input[type=submit]
{
	box-shadow: none;
	border: none;
	background-color: #f15a24;
	color: #fff;
	padding: .35em;
}

div.product-side input[type=submit]
{
	margin-left: 1.25em;
}

div.product-side input[type=submit]:hover
{
	background-color: #f37c46
}

div.product-side input[type=text]
{
	width: 1.25em;
}

div.product-side input[type=submit]
{
	max-width: 100%;
}

div.product-desc
{
	width: 60%;
	float: left;
}

/* ==========================================================================
   Categories Grid page
   ========================================================================== */



/* ==========================================================================
   Product Grid Div
   ========================================================================== */
.product-grid-container
{
	width: 100%;
	min-height: 31.25em;
	padding: 0;
}

.product-grid
{
	width: 32%;
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;	
}

.product-grid:nth-child(3n+2)
{
	margin: 20px 2%;
}

.product-grid-img
{
	max-width: 100%;
	max-height: 300px;
	border-radius: 3px;
}

.container
{
	line-height: 300px;
	text-align: center;
}

.container:hover
{
	opacity: .7;
}

.product-grid p
{
	font-weight: normal;
	font-size: 1em;
	text-align: center;
}

.product-grid.category p
{
	background-color: #FC4507;
	padding: 10px 0;
	color: white;
}

.product-grid a
{
	text-decoration: none;
}

/* ==========================================================================
   Cart Div
   ========================================================================== */

div.cart-container, div.header h1
{
	display: inline-block;
}

div.cart-container
{
	float: right;
	margin-top: -20px;
}

div.mycart-cart
{
	width: 250px;
	margin: 1.5em 0;
	background-color: white;
}
   
div.mycart-cart img
{
	width: 40px;
}
   
div.mycart-cart input[type=submit]
{
 	box-shadow: none;
	border: none;
	border-radius: 2px;
	background-color: #f15a24;
	color: #fff;
	padding: .35em;
	display: block;
}

div.mycart-cart div
{
	display: inline-block;
	vertical-align: top;
	margin-right: 1.25em;
}

div.mycart-cart div:nth-child(2) p
{
	margin: 0 0 .675em 0;
}

/* ==========================================================================
   Cart Page 
   ========================================================================== */
   
div.cart-page
{
  	margin-top: .325em;
	width: 96%; /* 768px */
	min-height: 31.25em; 
	padding: 0 2%;
	float: left;
}

div.cart-page ul
{
	list-style: none;
	margin: 0 auto;
	margin: 0;
	padding: 0;
}

div.cart-page ul li
{
	display: inline-block;
	width: 30%;
	line-height: 30px;
	margin: 10px 0;
	vertical-align: middle;
	text-align: left;
}

div.cart-page ul li:last-child
{
	text-align: right;
}

div.cart-page ul li:first-child
{
	padding-left: 20px;
	width: 8%;
}

div.cart-page ul li:nth-child(4), div.cart-page ul li:nth-child(5)
{
	width: 12%;
}

div.cart-page ul:nth-child(2n+3)
{
	background-color: #f6f6f6;
}

div.cart-page ul:nth-child(7)
{
	background-color: transparent;
}

div.cart-page input[type=textbox]
{
	width: 20px;
	text-align: center;
}

div.cart-page input[type=submit]
{
	float: right;
}

div.cart-page select
{
	width: 90%;
	margin: 0;
}

div.shipping-div
{
	
}
   	
/* ==========================================================================
   Checkout Page 
   ========================================================================== */
   
div.checkout-page
{
  	margin-top: .325em;
	width: 100%; /* 768px */
	min-height: 31.25em; 
	padding: 0 4%;
	float: left;
}
   
/* End of DESKTOP STYLING ****************************************************/

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width:959px){
/* ========================================== TABLETS ==== */
/* iPads, most Android tablets in portait
** most android phones in landscape
*/
	div.product
	{
		float: none;
	}
	
	div.nav-bar
	{
		float: none;
	}
	
	div.nav-bar > ul > li
	{
		
	}

	/******* product-grid view *****/
	div.product-grid:nth-child(3n+2) /* reset style */
	{
		margin: 20px 0;
	}
	
	div.product-grid:nth-child(odd)
	{
		margin-right: 2%;	
	}
	
	div.product-grid
	{
		width: 49%;
	}
	
	/******** cart page ************/
	div.cart-page
	{
		width: 100%;
	}
	
	/******* client stuff *****/
	div.footer div
	{
		width: 100%;
	}
	
	div.footer span
	{
		font-size: 5em;
	}

	nav ul li
	{
		width: 48%;
	}

	nav ul li:nth-child(3) a
	{
		border: none;
	}
}/* End of Media Queries - TABLETS */

@media only screen and (max-width:759px){
/* ========================================== SMARTPHONES ==== */
/* Phones with large resolution - Portrait
** Tablets with small resolution  - Portrait
** Kindle Fire
*/
	div.product-grid
	{
		width: 100%;
		text-align: center;
	}

	/******** navigation ***********/
	div.nav-bar > ul > li
	{
		width: 50%;
	}
	
	/******** cart page ************/
	div.cart-page ul li
	{
		width: 100%;
	}
	
	div.cart-page ul li:first-child
	{
		width: 100%;
	}
	
	div.cart-page ul li:nth-child(3), div.cart-page ul li:nth-child(4), div.cart-page ul li:last-child
	{
		width: 30%;
		vertical-align: top;
		text-align: center;
	}
	
	div.cart-page ul li:last-child
	{
		margin-bottom: 20px;
	}
	
	div.cart-page ul:last-child li:last-child
	{
		margin-bottom: 0px;
	}
	
	/********* client **********/
	div.footer span
	{
		font-size: 3em;
	} 
	
}/* End of Media Queries - SMARTHPONE - LARGE */

@media only screen and (max-width: 519px){
/* ========================================== SMARTPHONES ==== */
/* Most Phones (iPhone 3/3G 4/4S) - Portrait & Landscape
*/



}/* End of Media Queries - SMARTPHONE */

/* ==========================================================================
   CUSTOM CLASSES
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
