/*--- dropdown icon ---*/
span.nav-dropDown:before
{
	content:"\f0a9"; /* this is the Unicode for the icon */
 	font-family: FontAwesome; /* font family is included in Canvas Framework */
}

span.nav-dropDown:hover:before
{
	content: "\f0ab";
	font-family: FontAwesome;
}

/*--- cart styling ---*/
div.cart-page ul li form
{
	margin-bottom: 1px;
}

div.cart-page ul li a
{
	text-decoration: none;
	color: #000;
}

div.cart-page ul li button
{
	border:0;
	background-color: transparent;
}

div.cart-page ul li a
{
	text-decoration: none;
	color: #000;
}