/* ==================================================
						reset 
===================================================== */
html {
	font: 81.25% arial, helvetica, sans-serif;
	background: #fff;
	color: #333;
	line-height: 1;
	direction: ltr;
}

/* a links for light backgrounds */
a {
	color: #0789B4;
	text-decoration: none;
}
a:hover {
	color: #0674B5;
	text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  color: #0685B5;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:active {
	color: #d14836;
}

ol, ul {
	list-style: none;
	line-height: 17px;
	margin: 0 0 1em;
}
li {
	margin: 0 0 .5em;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong {
	color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
    color: #fff;
}

input[type="file"] {
    cursor: pointer;
}

textarea {
	resize: vertical;
}

#mce_13 {
	border: 1px solid #ccc;
}

/* ==================================================
						main 
===================================================== */

html, body {
	position: absolute;
	height: 100%;
	min-width: 100%;
}

.wrapper {
	position: relative;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 20px;
	width: 960px;
}

.nav-content {
	background-color: #f1f1f1;
	border-bottom: 1px solid #e9e9e9;
}

/* ==================================================
						header 
===================================================== */
.header-content {
	background-color: #444;
}

.header-content .client-logo {
	width: 250px;
}

.header-content h1 {
	color: #fff;
}

/* a link for dark backgrounds */
.header-content a {
	color: #0AA3D6; /* light blue */
	text-decoration: none;
}
.header-content a:hover {
  color: #09B0CE;
  text-decoration: underline;
}
.header-content a:focus {
  outline: thin dotted #333;
  color: #0685B5;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.header-content a:active {
	color: #D27135; /* orange */
}

.header-content .header-logo {
	float: left;
}

.header-content .header-nav {
	float: right;
	margin-top: 20px;
}

/* ==================================================
						login 
===================================================== */

.signin-container {
	background-color: #ddd;
	padding: 15px 20px;
	width: 300px;
	margin: 0 auto;
	margin-top: 50px;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

.signin-container h4 {
	margin-top: 0;
}

.signin-container span {
	margin: 0 5px;
}

.signin-container input[type="submit"] {
	width: 100%;	
}

.signin-container input[type="email"],
.signin-container input[type="password"] {
	width: 230px;
	display: inline-block;
}

.signin-container .form-group {
	
}

.signin-container a {
	display: block;
	margin-top: 10px;
}


/* ==================================================
						navigation 
===================================================== */
.nav-content .inner {
	padding: 10px 0;
}

.nav-content .nav-main {
	float: left;
}

.nav-content .nav-customize {
	float: right;
}

/* ==================================================
						cms - page 
===================================================== */
.page-head {
	margin-bottom: 20px;
}

.page-heading {
	float: left;
}

.page-nav {
	float: right;
	margin-top: 24px;
}

.page-nav .page-nav-1 {
	float: left;
	margin-right: 20px;
}

.page-nav .page-nav-2 {
	float: left;
	width: 240px;
}

.table thead tr{
	color: #999;
	font-weight: bold;
}

/* ==================================================
						cms - products 
===================================================== */
.products.table tbody tr td {
	vertical-align: middle;
}

.products #inputDescription {
	font-size: 16px !important;
}

body.mce-content-body {
	font-size: 18px !important;
}

.form-selecting {
	margin-bottom: 15px;
}

.form-selecting input[type="text"] {
	display: inline-block;
	width: 287px;
}

.form-selecting input[name^="inputQuantity"] {
	/*width: 80px;*/
	margin-left: 10px;
}

.form-selecting input[name^="inputQuantity"]:first-child {
	margin-left: 20px;
}

.form-selecting i {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 50px;
	line-height: 20px;
	color: #fff;
	background-color: #999;
}

.form-selecting .form-group:first-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.form-group-select {
	display: block;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top: 12px;
}

.form-group-select:nth-child(1n+2) {
	border-top: none;
}

.form-group-select:nth-child(2n+2) {
	background-color: #eee;
}

/* new stuff here */
.preview-label {
    display: block;
}
 
.preview-image {
    display: block;
    background-color: pink;
}
 
#filesInfo div {
    display: inline-block;
    margin: 20px 0;
    width: 32%;
    text-align: center;
}
 
#filesInfo div:last-child {
    margin-right: 0;
}
 
#filesInfo img {
    margin-bottom: 5px;
    max-width: 90%;
    height: auto;
}
 
#dropTarget {
    border: 1px dashed #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #aaa;
     animation-property: 100%;
            transition-duration: .2s;
    -webkit-animation-property: 100%;
    -webkit-transition-duration: .2s;
       -moz-animation-property: 100%;
       -moz-transition-duration: .2s;
         -o-animation-property: 100%;
         -o-transition-duration: .2s;
}
 
#dropTarget:hover {
    color: #333;
    border: 1px dashed #444;
     animation-property: 100%;
            transition-duration: .3s;
    -webkit-animation-property: 100%;
    -webkit-transition-duration: .3s;
       -moz-animation-property: 100%;
       -moz-transition-duration: .3s;
         -o-animation-property: 100%;
         -o-transition-duration: .3s;
} 


/* ==================================================
                cms - products - preview
===================================================== */
#preview-product .product-show
{
    width: 100%;
    min-height: 31.25em; 
    padding: 0;
}
 
#preview-product .product-img
{
    width: 55%;
    float: left;
    /*background-color: #ddd;*/
}
 
#preview-product .product-img img
{
    max-width: 100%;
}
 
#preview-product .product-img:hover, img.product-grid-img:hover
{
    opacity: .5;
}
 
#preview-product .product-side
{
    width: 38%; /*307.2px   297.2*/ 
    padding-left: 2%;
    float: left;
    /* background-color: red; */
}
 
#preview-product .product-side select
{
    width: 95%;
}
 
#preview-product .product-side input[type=submit]
{
    margin-left: 1.25em;
}
 
#preview-product .product-side input[type=submit]:hover
{
    background-color: #f37c46
}
 
#preview-product .product-side input[type=text]
{
    width: 1.25em;
}
 
#preview-product .product-side input[type=submit]
{
    max-width: 100%;
}

/* ==================================================
						cms - shipping 
===================================================== */
.shipping.table tbody tr td {
	vertical-align: middle;
}

.orders tbody tr:hover,
.products tbody tr:hover,
.shipping tbody tr:hover {
    cursor: pointer;
}

.shipping input[type="text"] {
	text-align: right;
}
 
.min-height {
    min-height: 130px;
}

.inline {
	display: inline;
}

.inline + a {
	margin-left: 10px;
	font-weight: bold;
}

/* ==================================================
						cms - orders
===================================================== */
.orders.table tbody tr td {
	vertical-align: middle;
}

/* ==================================================
						cms - customization
===================================================== */

.mycart-button {
	-webkit-appearance: none;
	appearance: none;
	color: #333;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.4;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-image: none;
	text-transform: none;
	text-decoration: none;
}

.mycart-button.lg {
	width: 150px;
	height: 40px;
	margin-left: 20px;
}

.mycart-button:hover {
	background-color: #ccc;
}

.mycart-button:active,
.mycart-button:focus {
	background-color: #aaa;
}

.panel-border {
	border-top: 1px solid #ddd;
}

.relative {
	position: relative;
}

.preview {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 1px;
	margin-right: 16px;
	height: 32px;
	width: 32px;
	display: block;
	border-top-right-radius: 3.5px;
	border-bottom-right-radius: 3.5px;
	border-left: 1px solid #ccc;
}

.mycart-thc,
.mycart-tbc {
	background-color: #ADADAD;
}

.mycart-bc,
.mycart-bhc,
.mycart-bac {
	background-color: buttonface;
}

.mycart-bfc,
.mycart-bfhc,
.mycart-bfac {
	background-color: buttonface;
}

.mask-color-1 {
	background-color: #ADADAD;
}

.mask-color-1.demo {
	width: 95px;
	height: 72px;
	display: inline-block;
}

.mask-color-2 {
	background-color: #D4D4D4;
}

.mask-color-2.demo {
	margin-left: -5px;
	width: 95px;
	height: 72px;
	display: inline-block;
}

.customize .row {
	margin-bottom: 15px;
}

.customize .row .col-lg-3 {
	line-height: 34px;
}

.mycart .row .col-lg-6 {
	line-height: 1.6;
}

.mycart-heading,
.mycart-body {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.center {
	text-align: center;
}


/* ==================================================
						preview 
===================================================== */
.iframe-container {
	width: 100%;
	height: 850px;
}

.iframe {
	width: 100%;
	height: 100%;
	border: 0;
	/* overflow-y: hidden; */
}


/* ==================================================
						footer 
===================================================== */
.footer {
	background-color: #444;
	color: #fff;
	text-align: center;
}

/* a link for dark backgrounds */
.footer a {
	color: #0AA3D6; /* light blue */
	text-decoration: none;
}
.footer a:hover {
  color: #09B0CE;
  text-decoration: underline;
}
.footer a:focus {
  outline: thin dotted #333;
  color: #0685B5;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.footer a:active {
	color: #D27135; /* orange */
}

/* ==================================================
						pushy footer 
===================================================== */
.pushy-footer-wrapper {
    min-height: 100%;
}

.footer {
	min-height: 60px;
    margin-top: -60px;  /* balance the footer with a negative top*/
    padding: 10px;
}

.body-content { /* the last div before end of sticky-footer*/
    padding-bottom: 120px; /* push down by height of the footer (130px) + any additional padding (40px) */
}


/* ==================================================
						extend classes 
===================================================== */

body .text-box
{
  display: inline-block;
  padding: .25em .375em;
  margin-bottom: .625em;
  color: #555555;
  vertical-align: middle;
  border: 1px solid #aaa;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.box-sizing {
 	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.box-shadow {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
 			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

span.danger {
	color: #d9534f;
	font-weight: bold;
}





















































